@font-face {
   font-family: 'Lato-Light';
   src: url(../../public/fonts/Lato-Light.woff2) format('woff2');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato-Regular';
   src: url(../../public/fonts/Lato-Regular.woff2) format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'KodeMono-Regular';
   src: url(../../public/fonts/KodeMono-Regular.woff2) format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'KodeMono-Bold';
   src: url(../../public/fonts/KodeMono-Bold.woff2) format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}